body {
  background-color: lightgray;
}

.con {
  background-color: grey;
  width: 50vh;
  height: 50vh;

  &__btn--primary {
    opacity: 0.7;
    border: 2px solid green;
    color: black;
    background-color: antiquewhite;
  }
  &__btn--primary:hover {
    opacity: 1;
    border: 2px solid rgb(148, 255, 9);
    color: red;
    background-color: gray;
  }
  &__btn--secondary {
    opacity: 0.4;
    border: 5px solid rgb(0, 3, 156);
    color: black;
    background-color: white;
  }
  &__btn--secondary:active {
    opacity: 1;
    border: 3px solid rgb(4, 170, 236);
    color: rebeccapurple;
    background-color: wheat;
  }
}
