body {
  background-color: grey;
}
header {
  background-color: lightgray;
  border-radius: 3px;
  width: 58vh;
  height: 18vh;
}

.nav {
  background-color: lightgray;
  border: solid black 1px;
  width: 55vh;
  height: 15vh;
  display: flex;
  gap: 5px;
  margin-left: 1vh;
  margin-top: 1vh;
}

.nav__home {
  border: solid black 1px;
  width: 20%;
  height: 2vh;
  margin-left: 18vh;
  margin-top: 5vh;
}
.nav__info {
  border: solid black 1px;
  width: 20%;
  height: 2vh;
  margin-top: 5vh;
}
.nav__pic {
  border: solid black 1px;
  width: 20%;
  height: 2vh;
  margin-top: 5vh;
}
.nav__blog {
  border: solid black 1px;
  width: 20%;
  height: 2vh;
  margin-top: 5vh;
}
.nav__contacts {
  border: solid black 1px;
  width: 20%;
  height: 2vh;
  margin-top: 5vh;
  margin-right: 5vh;
}
